* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: #777 !important;
  box-sizing: border-box !important;
  min-width: 30px;
}
/*
 style={{display:'flex',flexDirection:'column',maxHeight:'60px'}}
*/
.order{
  display:flex;
  flex-direction:column;
  max-height:60px;
  background: transparent !important;
}
.app {
  margin: 20px auto;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  background: #000 !important;
}
body {
  background: #00011138 !important;
}

.mobile-tasks {
  overflow: hidden;
  width: 360px;
  height: 670px;
  border: 1px solid red; 
  margin: 10px auto;
  padding: 12px 2px;
  box-shadow: 1px 1px 1px 1px #0b0813, 1px 4px 6px 2px #1483dd36;
  background: linear-gradient(
    to top right,
    #123,
    #111111,
    #000000,
    #020202,
    #000,
    #080808
  ) !important;
}
/*change the style of the app*/
.tasks-big {
  background: #000 !important;
}
/*   logo  imprtant */
.txt {
  background: #6b6e3444 !important;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 12%;
  width: 130px !important;
  height: 25px !important;
  font-size: 26px !important;
  color: #000 !important;
  border: 3px solid rgb(3, 3, 3);
  border-top: 18px solid #817e7e71;
  border-left: 2px solid #081318;
  visibility: visible;
  padding: 2px 18px;
  box-shadow: 12px 4px 2px #123;
}
.txt4,
.txt5,
.txt6 {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 212%;
  visibility: visible;
  border: 1px solid rgba(168, 170, 57, 0.377);
  margin-right: 12px;
  color: transparent !important;
}

.txt4 {
  min-width: 10px !important;
  height: 15px !important;
  margin-right: 2px;
  border-top: 12px solid #5e5959;
  border-left: 11px solid #180c20;
  color: transparent !important;
}

.txt5 {
  min-width: 8px !important;
  height: 11px !important;
  margin-right: 1px;
  border-top: 7px solid #504d4d;
  border-left: 2px solid #231f29;
  color: transparent !important;
}

.txt6 {
  min-width: 8px !important;
  height: 5px !important;
  margin-right: 1px;
  border-top: 3px solid #555151f6;
  border-left: 2px solid #1b1129;
  color: transparent !important;
}

.big-titles {
  font-family: Papyrus;
  background: linear-gradient(
    to top,
    rgba(153, 155, 156, 0.603),
    #4e494973,
    #4642425e,
    #333333a2,
    #666262,
    #6b686833,
    #8a8888a6
  ) !important;
  border-top-right-radius: 60%;
  border-top-left-radius: 5%;
  text-indent: 10px;
  color: rgb(8, 8, 8) !important;
  text-shadow: 1px 1px 2px #f0e9e9, 2px 2px 2px #05302d, 4px 4px 4px #000;
  height: 60px;
  padding: 1px 6px !important;
}
/* entry section */
.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    #666,
    #584b4ba9,
    #33333355,
    #22222255,
    #55555533
  ) !important;
  margin: 1px auto;
}

.tasks-entry-big {
  color: rgba(228, 216, 46, 0.534) !important;
  font-family: Papyrus;
  width: 81%;
  height: 77px;
  background: linear-gradient(
    to bottom right,
    #817b22de,
    #55522296,
    #66633355,
    #22234455,
    #00022233,
    #8289ec57
  ) !important;
  padding: 1px 2px;
  border-top: 2px solid rgb(10, 20, 20);
  border-bottom: 2px solid #122;
  margin: 4px 3px;
  font-size: 30px !important;
  text-indent: 12px;
  font-weight: bold;
  direction: rtl !important;
}
.tasks-entry-big::placeholder {
  color: rgb(143, 57, 165);
  text-shadow: 1px 1px 1px #000;
}
.tasks-entry-btn {
  background: linear-gradient(
    to top right,
    rgb(32, 89, 146),
    #222222,
    #000000
  ) !important;
  border-radius: 50%;
  color: powderblue !important;
  width: 55px;
  height: 55px;
  padding: 2px;
  margin: 5px;
  font-size: 33px;
  text-align: center;
  box-shadow: 1px 2px 2px 1px #000;
  border: 2px solid #000000;
  transition: 2s;
  text-shadow: 2px 2px 2px #000;
}
.tasks-entry-btn:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px #111;
  border: 2px solid #000;
  box-shadow: 1px 2px 2px 1px #333;
  transition: 1s;
  color: dimgrey !important;
  background: linear-gradient(to top, #123, #222222, #333333) !important;
}

/*disabled btn*/
.tasks-entry-btn-disabled {
  text-shadow: 2px 2px 2px #111;
  border: 2px solid #000;
  box-shadow: 1px 2px 2px 1px #333;
  transition: 1s;
  color: dimgrey !important;
  background: linear-gradient(to bottom, #123, #222222, #111111) !important;
  border-radius: 50%;
  color: powderblue !important;
  font-family: Papyrus;
  width: 55px;
  height: 55px;
  padding: 2px;
  margin: 5px;
  font-size: 33px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
.tasks-entry-btn-disabled:hover {
  cursor: grab;
}

.tasks-shown-start {
  background: linear-gradient(
    to top right,
    rgb(6, 13, 20),
    #111111,
    #424e36,
    #050505
  ) !important;
  h2 {
    background: linear-gradient(
      to bottom right,
      #3d382e04,
      #1708241e,
      #2b303d71,
      #b9db5bc2,
      #44422255
    ) !important;
    position: sticky;
    text-shadow: 1px 1px 1px #000;
  }
  p {
    color: #abb49c69 !important;
    font-weight: bold;
    text-shadow: 1px 1px 1px #05050556;
    padding-bottom: 8px !important;
    font-size: 18px;
    word-spacing: 3px;
    height: 34px !important;
    background: linear-gradient(
      to bottom,
      #0505051c,
      #1616160a,
      #22212117,
      #242121
    ) !important;
    box-shadow: 6px 1px 5px 6px #000;
  }
  font-family: Papyrus;
  font-size: 15px;
  text-align: center;
}
.tasks-shown::-webkit-scrollbar {
  width: 5px;
}
.tasks-shown::-webkit-scrollbar-track {
  background: #000; /*#f1f1f1;*/
}
.tasks-shown::-webkit-scrollbar-thumb {
  background: #5c6641a1;
}
.tasks-shown::-webkit-scrollbar-thumb:hover {
  background: #79797c7c;
  cursor: pointer;
}

/* container of the tasks  ol */
.tasks-container {
  border: 1px solid rgb(3, 3, 3);
  background-color: #000 !important;
  background: #333 !important;
  min-height: 300px;
  padding: 15px 0;
  li {
    box-shadow: 12px 12px 12px 12px rgba(15, 25, 20, 0.5);
  }
}

.tasks-shown {
  box-sizing: border-box;
  overflow-x: hidden !important;
  font-family: Papyrus;
  padding: 2px 1px;
  margin: 4px 0;
  li {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 1px;
    border: none;
    padding: 1px;
    margin: 19px auto;
    margin-bottom: 12px !important;
    height: 81px; /* //////////////////////////////////////////////////////////////////////////height of task//////////////////////////////////////////////////////////// */
    width: 340px;
    .task-txt {
      background: linear-gradient(
        to left bottom,
        #345345,
        #82788571
      ) !important;
      padding: 1px 15px;
      font-size: 24px;
      text-align: right;
      color: #d8cbcb96 !important;
      max-height: 60px !important;/* max height of test  */
      min-height: 20px !important;
      height: 20px !important;
      font-weight: bold;
      width: 640px;
      text-shadow: 3px 2px 2px #000;
    }

    .task-controls {
      width: 133px;
      width: 135px;
      width: 155px !important; 
      height: 37px; /*50*/
      height: 50px; /*37*/
      margin-left: 1px; /*****/
      z-index: 22;
      border-radius: 0px 5px 5px 0px !important;
      border-radius: 5px 0px 0px 5px !important;
      background: linear-gradient(
        to bottom,
        #85744a,
        #123111,
        #121b17,
        #010116fb,
        #111
      ) !important;
      background: linear-gradient(to bottom, #14130f, #1c221c) !important;
      display: flex;
      justify-content: space-between;
      gap: 3px;
      align-items: center;
      .del-btn,
      .up-btn,
      .down-btn,
      .speak-btn{
        width: 12px;
        height: 28px;
        padding: 6px 4px;
        margin-bottom: 12px;
        padding: 1px 4px;
        margin-bottom: 1px;
        color: rgba(202, 183, 56, 0.993) !important;
        font-size: 15px;
        text-align: center;
        background: #111 !important;
        background: linear-gradient(
          to left bottom,
          #11133355,
          dimgrey,
          #12344455,
          #1c1d3855,
          #0d0d0e33,
          #111
        ) !important;
        border-radius: 50%;
        border: 1px solid #000000b0;
      }
      .del-btn:hover,
      .up-btn:hover,
      .down-btn:hover {
        border: 1px solid #333;
        background: linear-gradient(
          to left top,
          #11100033,
          #12311144,
          #34534511,
          #44412322
        ) !important;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.438) !important;
      }
      .del-btn {
        padding: 2px;
        font-size: 14px;
      }
       .speak-btn {
        padding: 2px;
        font-size: 14px;
         color:blue;
      }
    }
  }
}

.d {
 
  width: 58px !important;
  height: 48px !important;
  margin-left: 0px;
  margin-top: 8px;
  color: rgba(255, 217, 0, 0.719) !important;
  font-size: 25px !important;
  padding: 1px !important;
  background: linear-gradient(
    to left bottom,
    #b8a983b9,
    #12311155,
    #345345,
    #00012355
  ) !important;
  border: 1px solid #111 !important;
  border-radius: 1% !important;
}
.d:hover {
  border: 1px solid #555;
  background: linear-gradient(
    to left bottom,
    #87600033,
    #12311144,
    #34534511,
    #00012322
  ) !important;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.438) !important;
}

.tasks-big-shown {
  width: 352px !important;
  background: linear-gradient(
    to top,
    rgba(73, 73, 73, 0.603),
    rgba(73, 73, 73, 0.603),
    rgba(73, 73, 73, 0.603)
  ) !important;
  height: 295px;
}
.tasks-big-shown {
  width: 352px !important;
  background: linear-gradient(
    to top,
    rgba(12, 12, 12, 0.603),
    rgba(34, 33, 33, 0.603),
    rgba(8, 8, 8, 0.158)
  ) !important;
  height: 295px;
}

.txt-content {
  width: 380px;
  clip-path: inset(0 round 5px);
  overflow: scroll;
  overflow-y: hidden;
  background: linear-gradient(
    to left bottom,
    #87600055,
    #12311155,
    #345345,
    #79797cef
  ) !important;
  height: 38px;
  height: 70px;/*  try it now */
  direction: rtl !important;
}

/* .txt-content scrollbar */
.txt-content::-webkit-scrollbar {
  height: 6px;
  border-radius: 5px 0px 0px 5px !important;
}

.txt-content::-webkit-scrollbar-track {
  background: #12345666;
  border-top: 2px solid #111;
}

.txt-content::-webkit-scrollbar-thumb {
  background: #0f1d1dd5;
  cursor: pointer;
  border-top: 2px solid rgb(25, 27, 27);
}

.txt-content::-webkit-scrollbar-thumb:hover {
  background: #3a7070ec;
  cursor: pointer;
}

.task-txt-msg {
  background: linear-gradient(
    to left bottom,
    #87600055,
    #12311155,
    #345345,
    #02020f04
  ) !important;
  padding: 5px;
  font-size: 20px;
  min-width: 180px;
  max-width: 180px;
  text-align: left;
  color: grey !important;
  max-height: 20px !important;
  min-height: 20px !important;
  height: 20px !important;
}

.d-father {
  margin-left: 8px !important;
  background: transparent !important;
  width: 320px !important;
  .txt-content {
    width: 330px !important;
    .task-txt {
      width: 250px;
    }
  }
  .tsk-cont-d {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background: rgba(83, 98, 100, 0) !important;
    width: 82px !important;
    border: 3px solid rgba(20, 34, 43, 0.904);
    padding: 0 1px !important;
    margin: 1px !important;
    z-index: 111;
    .d {
      border: none !important;
      margin-top: 1px !important;
    }
  }
}
.lastLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: stretch;
  margin:5px 3px;
}
.rest {
  font-size: 13px;
  font-family: Papyrus;
  background-color: #111000 !important;
  padding: 8px 3px;
  border: 1px solid rgb(63, 63, 78);
  border-bottom: none;
  min-width: 80px;
  font-weight: bold;
}
.rest:hover {
  background-color: #0808084b !important;
  cursor: pointer;
}

.refresh {
  font-size: 12px;
  font-family: Papyrus;
  border: 1px solid rgb(63, 63, 78);
  border-bottom: none;
  padding: 4px 1px;
  background-color: #0808084b !important;
  min-width: 60px;
}
.refresh:hover {
  border: 1px solid rgb(104, 114, 76);
  color: rgb(164, 165, 89) !important;
}

.childhood {
  padding: 0px !important;
  min-width: 20px;
  max-width: 20px;
  width: 20px;
  font-size: 15px;
  margin-top: 6px !important;
  background-color: #080808c2 !important;
  border-radius: 50%;
}
.childhood:hover {
  cursor: pointer;
  color: rgb(164, 165, 89) !important;
}
.app-creator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #00012355 !important;
  height: 55px !important;
  .himo-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 8px;
    box-shadow: 0px 1px 1px 0px rgb(23, 26, 13);
  }
  .himo-title {
    width: 290px;
    height: 20px;
    font-size: 15px;
    background: #141300 !important;
    border-radius: 5px 0px 0px 5px !important;
    text-shadow: 1px 1px 1px 1px #000; 
    padding:6px 0;
  }
}

.status {
  position: sticky;
  bottom: 0px;
  height: 30px;
  width: 355px;
  background: #123 !important;
  text-align: center;
  color: rgb(155, 148, 148) !important;
  border: 1px double #000;
  padding: 2px 0px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .span {
    color: #c0bf88 !important;
    background: #000;
    padding: 3px 0;
    font-size: 10px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .status-part {
    background: #000 !important;
    min-width: 70px !important;
    max-width: 70px !important;
    width: 70px !important;
  }

  .tasks-part {
    width: 40px !important;
  }
  .tasks-stored-part {
    width: 50px !important;
  }
  .msg-part {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
  }
  .tasks-added-part {
    width: 60px !important;
  }

  .tasks-title {
    min-width: 11px !important;
    max-width: 11px !important;
    padding: 0 1px;
    width: 11px !important;
  }

  .tasks-added-title {
    min-width: 13px !important;
    max-width: 13px !important;
    padding: 0 1px;
    width: 13px !important;
  }

  .tasks-stored-title {
    min-width: 11px !important;
    max-width: 11px !important;
    padding: 0 1px;
    width: 11px !important;
  }

  .msg-title {
    min-width: 9px !important;
    max-width: 9px !important;
    padding: 0 1px;
    width: 9px !important;
  }
  .status-value {
    background: #123 !important;
    min-width: 70px !important;
    max-width: 70px !important;
    width: 70px !important;
    padding: 1px !important;
  }
  .tasks-value {
    background: #123 !important;
    min-width: 25px !important;
    max-width: 25px !important;
    width: 25px !important;
    padding: 1px !important;
  }
  .tasks-stored-value {
    background: #123 !important;
    min-width: 25px !important;
    max-width: 25px !important;
    width: 25px !important;
  }

  .msg-value {
    min-width: 90px !important;
    max-width: 90px !important;
    width: 90px !important;
  }

  .values {
    z-index: 100;
    background: #123 !important;
    border: 4px double #000;
  }
}
